
#formo{
    width: 40%;
    margin-top: 80px;
    margin-bottom: 250px;
}

#footer{
        padding: 10px 0;
        background-color: #101010;
        color:#9d9d9d;
        bottom: 0;
        width: 100%;
        margin-top: 20px;
}        
